@import url('./style.css');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');




.hero-section {
    margin-top: 0;
    margin-bottom: 400px;
    width: 100%;
    height: 586px !important;
    background-image: url('../images/hero-section/hero-bg.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.common-section{
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1s;
}

@keyframes fadeInUp {
    to {
      opacity: 1;
    }
  }
  

.hero-title {
    font-family: "Manrope";
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 56px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
}

.text-gradient {
    background: linear-gradient(90deg, #0E73F6 0%, #000C3A 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero-subtitle {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--text-gray);
    font-size: 18px;
    font-weight: 500;
    max-width: 700px;
    color: #475569;
}


.hero-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    background: linear-gradient(90deg, #0D62CF 0%, #032075 100%);
    color: var(--white-color);
    height: 46px;
    width: 165px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 30px;
    gap: 24px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #0056d2;
}


/*  */

/* Keyframes for card images */
@keyframes slideUpFrom30 {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes riseUpFrom10 {
    from {
      transform: translateY(1px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* === INITIAL HIDDEN STATE (keep this) === */
  .hero-img-inside,
  .hero-card1,
  .hero-card2 {
    opacity: 0;
  }
  
  /* === FIXED ORDER OF ANIMATION === */
  /* 1. Inside image first */
  .hero-img-inside {
    animation: riseUpFrom10 1.2s ease-out forwards;
    animation-delay: 2s;
  }
  
  /* 2. Card 1 after inside image */
  .hero-card1 {
    animation: slideUpFrom30 0.8s ease-out forwards;
    animation-delay: 2.4s;
  }
  
  /* 3. Card 2 last */
  .hero-card2 {
    animation: slideUpFrom30 1s ease-out forwards;
    animation-delay: 2.6s;
  }



/* Shimmer effect */
.light::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -111%;
    width: 101%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.6) 50%,
        transparent 100%
    );
    transform: skewX(-20deg);
    pointer-events: none;
}

.light:hover::before {
    animation: shimmer 1s ease forwards;
}

@keyframes shimmer {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}
/*  */
.hero-img{
    position: relative;
}
.hero-img-inside{
    z-index: 3;
    position: absolute;
    top: 587px;
    right: 118px;
    max-width: 950px !important;
}
.hero-card1{
    position: absolute;
    top: 435px;
    right: 500px;
}
.hero-card2{
    position: absolute;
    top: 386px;
    right: 292px;
}
.hero-bottom{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 50px;
}

.hero-box{
    gap: 10px;
}



/* feature-section */
.feature-content {
    padding-top: 100px;
    padding-bottom: 130px;
}

.feature-header {
    margin-bottom: 80px;
}

.feature-card-top {
    padding: 16px 14px 22px 24px;
    height: 114px;
    border-radius: 24px;
    background: linear-gradient(90deg, #0D62CF 0%, #032075 100%);
    color: #FFFFFF;
}

.feature-card-top h3 {
    font-family: Cabin;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

.feature-card-top h5 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -2%;
}
/*  */

/*  */
.feature-card-bottom {
    height: 272px;
    margin-top: 16px;
    border-radius: 24px;
    background-color: #F1F7FE;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px 26px;
    justify-content: flex-end;
    transition: transform 0.8s ease-in-out;
    animation-fill-mode: both;
}
.feature-card-content {
    position: relative;
    z-index: 2; /* higher than the image */
  }
  
  .feature-img-one {
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 1; /* lower than the text */
  }

.feature-card-bottom img {
    position: absolute;
    top: 24px;
    right: 0;
}

.feature-card-bottom h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 12px;
    color: #27364B;
}

.feature-card-bottom h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}
.feature-card-bottom:hover .feature-img-one {
    transform: rotate( -2deg);
    /* transition: transform 0.3s ease;
    animation-fill-mode: both; */
}

.feature-card-two {
    height: 400px;
    background-image: url('../images/feature/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    padding: 36px 0;
}

.feature-logo {
    padding-top: 42px;
    padding-bottom: 24px;
    margin: 0 26px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.feature-logo img {
    height: 54px;
    width: 54px;
}

.futureCard-twoText {
    margin-left: 24px;
    margin-right: 44px;
}

.futureCard-twoText h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #FFFFFF;
    margin-bottom: 12px;

}

.futureCard-twoText p {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #FFFFFF;
}



/* marquee */
.marquee-wrapper {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 36px;
    overflow: hidden;
}
.marquee-2{
    margin-top: 20px;
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }

}
@keyframes scrollRight {
    to {
        left: 100%;
    }
}

.marquee-2 .marquee-item {
    left: -1100px; 
    animation-name: scrollRight;
}

.marquee-item {
    width: 174px;
    height: 36px;
    border-radius: 36px;
    padding: 8px 12px;
    white-space: nowrap;
    position: absolute;
    left: max(calc(165px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee-badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #f4f6f8;
    border-radius: 36px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #3c3f44;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.marquee-badge img {
    width: 20px;
    height: 20px;
}

.marquee-item1 {
    animation-delay: calc(30s /8 * (8 - 1) * -1);
}

.marquee-item2 {
    animation-delay: calc(30s /8 * (8 - 2) * -1);
}

.marquee-item3 {
    animation-delay: calc(30s /8 * (8 - 3) * -1);
}

.marquee-item4 {
    animation-delay: calc(30s /8 * (8 - 4) * -1);
}

.marquee-item5 {
    animation-delay: calc(30s /8 * (8 - 5) * -1);
}

.marquee-item6 {
    animation-delay: calc(30s /8 * (8 - 6) * -1);
}

.marquee-item7 {
    animation-delay: calc(30s /8 * (8 - 7) * -1);
}

.marquee-item8 {
    animation-delay: calc(30s /8 * (8 - 8) * -1);
}


.feature-card-third {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 24px;
    background-color: #F1F7FE;
    height: 400px;
    padding: 40px 52px 34px 24px;
    position: relative;
}

.third-card-img {
    top: 40px;
    position: absolute;
}
.feature-card-third:hover .third-card-img {
    transform: translateY(-5px);
    transition: transform 0.4s ease;
}

.third-card-icon{
    height: 74px !important;
    width: 88px;
    position: absolute;
    right: 10px;
    top: 120px;
}
.feature-card-third:hover .third-card-icon {
    transform: rotate(-12deg);
    transition: transform 0.4s ease;
}

.feature-card-third h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #27364B;
    margin-bottom: 14px;
}

.feature-card-third h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #64748B;
}


.feature-header h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #0E73F6;
}

.feature-header h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #475569;
}







/*  */
.about-section {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

/* Rating image positioned absolutely in top-left */
.rating-img {
    position: absolute;
    top: 0;
    right: 40%;
    width: 336px;
    height: 90px;
    z-index: 1;
}

/* Title and text styles */
.about-title {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.25;
    z-index: 2;
    position: relative;
}

.about-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.about-link:hover {
    text-decoration: underline;
}

.about-description {
    color: #475569;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}

.about-highlight {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    color: #0E73F6;
    margin-bottom: 30px;
}

/* Stat cards layout */
.about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-1 {
    height: 80px;
    width: 222px;
    border: 1px solid #0E73F626;
    background-color: #FBFDFF;
    padding: 14px 24px 14px 20px;
    border-radius: 8px;
    gap: 16px;
}

.box-1 h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -2.5%;
}

.box-1 h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #64748B;
}

.center-logo {
    position: absolute;

}

/* Top-right spot effect */
.about-section::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -145px;
    width: 254px;
    height: 254px;
    background: radial-gradient(circle, #e8fafd 0%, transparent 80%);
    z-index: 0;
}

.about-right{
    max-width: 658px !important;
}
/* contact-form */
.contact-section {
    background-image: url('../images/hero-section/hero-bg.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #F1F7FE;
    padding: 46px 0;
}

.contact-info::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/contact-us/bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

textarea.form-control {
    height: 128px;
}

.name-box {
    padding-right: 16px !important;
}

.email-box {
    padding-left: 16px !important;
}

.contact-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    color: #0274F9;
    margin-bottom: 12px;
}

.form-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px !important;
}

form input::placeholder,
form textarea::placeholder {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0 !important;
    color: #94A3B8 !important;
}

.form-control {
    display: none;
    height: 48px;
}

.message-section {
    margin-top: 20px !important;
}

.button-section {
    margin-top: 32px !important;
}

.button-section button {
    height: 42px;
}

.contact-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    color: #678ABB;
    margin-bottom: 0;
}

.contact-box {
    border-radius: 20px;
    overflow: hidden;
}

.contact-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.contact-subtext {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0274F9;
}

.contact-info {
    border-radius: 20px 0 0 20px;
    position: relative;
    min-height: 100%;
    padding: 58px 42px;
}

.contact-details {
    z-index: 2;
    position: relative;
}

.contact-illustration {
    max-width: 220px;
    pointer-events: none;
}

































@media (min-width: 1400px) {
    .main-container {
        max-width: 1336px !important;
        margin: 0 auto;
    }
    

}

@media (max-width: 1200px) {
    
    .hero-img-inside{
        top: 564px;
        right: 46px;
        max-width: 889px !important;
    }
    .hero-card1{
        top: 421px;
        right: 363px;
    }
    .hero-card2{
        top: 381px;
        right: 205px;
        max-width: 286px !important;
    }

    .hero-bottom {
        flex-direction: column !important;
        
      }
    
      .hero-box {
        text-align: left;
      }
    
      .hero-box p {
        margin: 0;
      }
      .about-right{
        max-width: 548px !important;
    }
    .about-left{
        /* max-width: 304px !important; */
    }

}
@media (max-width: 992px) {
    .hero-img-inside{
        top: 521px;
        right: 38px;
        max-width: 734px !important;
    }
    .hero-card1{
        top: 395px;
        right: 223px;
    }
    .hero-card2{
        top: 365px;
        right: 168px;
        max-width: 239px !important;
    }
    .text-gradient{
        font-size: 36px;
    }
    .hero-subtitle {
        font-size: 12px;
    }

}
@media (max-width: 768px) {
    .hero-img-inside{
        top: 474px;
        right: 29px;
        max-width: 564px !important;
    }
    .hero-card1{
        top: 381px;
        right: 213px;
        max-width: 321px !important;
    }
    .hero-card2{
        top: 356px;
        right: 130px;
        max-width: 185px !important;
    }


    /*  */
    .about-left {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 40px;
      }
    
      .about-left > .d-flex {
        flex-direction: column !important;
        align-items: center !important;
        gap: 24px !important;
      }
    
      .box-1 {
        width: 100%;
        max-width: 300px;
        justify-content: flex-start;
      }
    
      .center-logo {
        position: relative;
        margin: 24px 0;
        text-align: center;
      }
    
      .about-title,
      .about-highlight,
      .about-description {
        text-align: center;
        padding: 0 12px;
      }
    
}

@media (max-width: 576px) {
    .hero-img-inside{
        top: 509px;
        right: 22px;
        max-width: 426px !important;
    }
    .hero-card1{
        top: 441px;
        right: 151px;
        max-width: 250px !important;
    }
    .hero-card2{
        top: 423px;
        right: 97px;
        max-width: 140px !important;
    }

}







